<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href='/' <%- title === 'Home' ? 'class="active"' : '' %>>Home</a>
      <% if (user) { %>
      <a href='/workouts/new' <%- title === 'New Workout' ? 'class="active"' : '' %>>New Workout</a>
      <a href='/workouts' <%- title === 'My Workouts' ? 'class="active"' : '' %>>My Workouts</a>
      <a href="/logout">LOG OUT</a>
      <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
  </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>! Your perfect workout starts here!</p>
    <a href="/workouts/new">New Workout</a>
    <a href="/workouts/">My Workouts</a>
   
  </body>
</html>
