<%- include('../partials/header') %>
  <title>My Workouts</title>
</head>
<body>
  <h1>Workout</h1>
  <table>
    <thead>
      <tr>
        <th>Workout Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% workouts.forEach(w => { %>
        <tr>
            <td><%= w.workoutName %></td>
            <td><%= w.description %></td>
            <td>
            <form action="/workouts/<%= w.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
            <td>
                <a href="/workouts/<%= w._id %>">View/Edit</a>
            </td>
        </tr>                        
    <% }) %>       
    </tbody>
  </table>

<%- include('../partials/footer') %>

